.form-inline{
    padding-left: 380px;
    padding-right: 10px;
}

.navbar-brand{
    font-size: 30px;
    font-style: oblique;
}

.card-img-top{
    width: 400px;
    height: 400px;
}

.wh{
    width: 50px;
    margin: 30px;
}

.container{

text-align: center;
font-style: oblique;
}
  
#ff{
    text-align: center;

}

.padding-menu {
    padding-left: 79px !important;
}

.row{
    text-align: center;
    margin: 20px;
}